In [111]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [112]:
#from google.colab import files
#uploaded = files.upload()

In [113]:
import pandas as pd
import io
#data = pd.read_csv(io.BytesIO(uploaded['housing.csv']))
data = pd.read_csv('/content/housing (4).csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   NO                  20640 non-null  int64
 1   longitude           20640 non-null  float64
 2   latitude            20640 non-null  float64
 3   housing_median_age  20640 non-null  int64
 4   total_rooms         20640 non-null  int64
 5   total_bedrooms      20433 non-null  float64
 6   population          20640 non-null  int64
 7   households          20640 non-null  int64
 8   median_income       20640 non-null  float64
 9   median_house_value  20640 non-null  int64
 10  ocean_proximity     20640 non-null  object
dtypes: float64(4), int64(6), object(1)
memory usage: 1.7+ MB

In [114]:
data.head()

   NO  longitude  latitude  ...  median_income  median_house_value  ocean_proximity
0   1    -122.23     37.88  ...         8.3252              452600         NEAR BAY
1   2    -122.22     37.86  ...         8.3014              358500         NEAR BAY
2   3    -122.24     37.85  ...         7.2574              352100         NEAR BAY
3   4    -122.25     37.85  ...         5.6431              341300         NEAR BAY
4   5    -122.25     37.85  ...         3.8462              342200         NEAR BAY

[5 rows x 11 columns]

Encoding

(1)Label encoder

(2)Onehot encoder

In [115]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
data['median_house_value'].value_counts()

500001    965
137500    122
162500    117
112500    103
187500     93
         ...
32900       1
303200      1
311300      1
270400      1
41000       1
Name: median_house_value, Length: 3842, dtype: int64

(1)Label encoder

In [116]:
le=LabelEncoder()
data['median_house_value']=le.fit_transform(data['median_house_value'])
data['median_house_value'].value_counts()

3841    965
959     122
1209    117
710     103
1459     93
       ...
3172      1
3275      1
3204      1
3091      1
2119      1
Name: median_house_value, Length: 3842, dtype: int64

In [117]:
le.classes_

array([ 14999,  17500,  22500, ..., 499100, 500000, 500001])

(2)Onehot Encoder

In [118]:
data['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [119]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['ocean_proximity'].values.reshape(-1,1)).toarray()
one_hot.categories_

[array(['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY', 'NEAR OCEAN'],
       dtype=object)]

In [120]:
transformed_data = pd.DataFrame(transformed_data , 
                                columns = ['<1H OCEAN', 'INLAND', 'ISLAND', 'NEAR BAY','NEAR OCEAN'])
transformed_data.head()

   <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
0        0.0     0.0     0.0       1.0         0.0
1        0.0     0.0     0.0       1.0         0.0
2        0.0     0.0     0.0       1.0         0.0
3        0.0     0.0     0.0       1.0         0.0
4        0.0     0.0     0.0       1.0         0.0

In [121]:
transformed_data.iloc[90, ]

<1H OCEAN     0.0
INLAND        0.0
ISLAND        0.0
NEAR BAY      1.0
NEAR OCEAN    0.0
Name: 90, dtype: float64

In [122]:
data['median_house_value'][90]

1209

Normalization & Standardization

In [125]:
# consider only numerical columns

numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
numeric_columns

['NO',
 'longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value']

In [126]:
len(numeric_columns) , len(data.columns)

(10, 11)

In [127]:
numeric_columns.remove('longitude')
numeric_columns.remove('latitude')

In [128]:
temp_data = data[numeric_columns]
temp_data

          NO  housing_median_age  ...  median_income  median_house_value
0          1                  41  ...         8.3252                3665
1          2                  21  ...         8.3014                3074
2          3                  52  ...         7.2574                3017
3          4                  52  ...         5.6431                2917
4          5                  52  ...         3.8462                2925
...      ...                 ...  ...            ...                 ...
20635  20636                  25  ...         1.5603                 366
20636  20637                  18  ...         2.5568                 356
20637  20638                  17  ...         1.7000                 508
20638  20639                  18  ...         1.8672                 432
20639  20640                  16  ...         2.3886                 479

[20640 rows x 8 columns]

Normalization

In [129]:
from sklearn.preprocessing import StandardScaler , MinMaxScaler
import warnings
warnings.filterwarnings('ignore')
normalizer = MinMaxScaler()
temp_data.dropna(axis = 1 , inplace = True)
normalized_data = normalizer.fit_transform(temp_data)
pd.DataFrame(normalized_data , columns = temp_data.columns)

             NO  housing_median_age  ...  median_income  median_house_value
0      0.000000            0.784314  ...       0.539668            0.954179
1      0.000048            0.392157  ...       0.538027            0.800312
2      0.000097            1.000000  ...       0.466028            0.785473
3      0.000145            1.000000  ...       0.354699            0.759438
4      0.000194            1.000000  ...       0.230776            0.761520
...         ...                 ...  ...            ...                 ...
20635  0.999806            0.470588  ...       0.073130            0.095288
20636  0.999855            0.333333  ...       0.141853            0.092684
20637  0.999903            0.313725  ...       0.082764            0.132257
20638  0.999952            0.333333  ...       0.094295            0.112471
20639  1.000000            0.294118  ...       0.130253            0.124707

[20640 rows x 7 columns]

Standardization

In [130]:
standard_scaler = StandardScaler()
standardized_data = standard_scaler.fit_transform(temp_data)
pd.DataFrame(standardized_data , columns = temp_data.columns)

             NO  housing_median_age  ...  median_income  median_house_value
0     -1.731967            0.982143  ...       2.344766            2.023402
1     -1.731799           -0.607019  ...       2.332238            1.446535
2     -1.731631            1.856182  ...       1.782699            1.390899
3     -1.731463            1.856182  ...       0.932968            1.293290
4     -1.731296            1.856182  ...      -0.012881            1.301099
...         ...                 ...  ...            ...                 ...
20635  1.731296           -0.289187  ...      -1.216128           -1.196706
20636  1.731463           -0.845393  ...      -0.691593           -1.206467
20637  1.731631           -0.924851  ...      -1.142593           -1.058102
20638  1.731799           -0.845393  ...      -1.054583           -1.132284
20639  1.731967           -1.004309  ...      -0.780129           -1.086408

[20640 rows x 7 columns]

Handling With Missing Values

In [131]:
data.isnull().sum()

NO                      0
longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [132]:
# here I Will show you imputing values in Null columns only for 'agent' column
data['total_bedrooms'].isnull().sum()

207

Simple Imputer

In [134]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan , strategy='mean')
agent_col = imputer.fit_transform(data['total_bedrooms'].values.reshape(-1,1))
pd.DataFrame(agent_col).isnull().sum()

0    0
dtype: int64

In [135]:
data['total_bedrooms'].isnull().sum()

207

Discretization

In [136]:
from sklearn.preprocessing import KBinsDiscretizer
temp_data.head()

   NO  housing_median_age  ...  median_income  median_house_value
0   1                  41  ...         8.3252                3665
1   2                  21  ...         8.3014                3074
2   3                  52  ...         7.2574                3017
3   4                  52  ...         5.6431                2917
4   5                  52  ...         3.8462                2925

[5 rows x 7 columns]

Quantile Discretization Transform

In [138]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='quantile')
new_data = trans.fit_transform(temp_data)
pd.DataFrame(new_data,columns = temp_data.columns )

        NO  housing_median_age  ...  median_income  median_house_value
0      0.0                 8.0  ...            9.0                 9.0
1      0.0                 3.0  ...            9.0                 8.0
2      0.0                 9.0  ...            9.0                 8.0
3      0.0                 9.0  ...            8.0                 8.0
4      0.0                 9.0  ...            5.0                 8.0
...    ...                 ...  ...            ...                 ...
20635  9.0                 4.0  ...            0.0                 0.0
20636  9.0                 2.0  ...            2.0                 0.0
20637  9.0                 2.0  ...            0.0                 1.0
20638  9.0                 2.0  ...            0.0                 1.0
20639  9.0                 1.0  ...            2.0                 1.0

[20640 rows x 7 columns]

Uniform Discretization Transform

In [139]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='uniform')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

        NO  housing_median_age  ...  median_income  median_house_value
0      0.0                 7.0  ...            5.0                 9.0
1      0.0                 3.0  ...            5.0                 8.0
2      0.0                 9.0  ...            4.0                 7.0
3      0.0                 9.0  ...            3.0                 7.0
4      0.0                 9.0  ...            2.0                 7.0
...    ...                 ...  ...            ...                 ...
20635  9.0                 4.0  ...            0.0                 0.0
20636  9.0                 3.0  ...            1.0                 0.0
20637  9.0                 3.0  ...            0.0                 1.0
20638  9.0                 3.0  ...            0.0                 1.0
20639  9.0                 2.0  ...            1.0                 1.0

[20640 rows x 7 columns]

KMeans Discretization Transform

In [140]:
trans = KBinsDiscretizer(n_bins =10 , encode = 'ordinal' , strategy='kmeans')
new_data = trans.fit_transform(temp_data)

pd.DataFrame(new_data,columns = temp_data.columns )

        NO  housing_median_age  ...  median_income  median_house_value
0      0.0                 7.0  ...            6.0                 9.0
1      0.0                 3.0  ...            6.0                 7.0
2      0.0                 9.0  ...            6.0                 7.0
3      0.0                 9.0  ...            4.0                 7.0
4      0.0                 9.0  ...            3.0                 7.0
...    ...                 ...  ...            ...                 ...
20635  9.0                 4.0  ...            0.0                 0.0
20636  9.0                 3.0  ...            1.0                 0.0
20637  9.0                 3.0  ...            0.0                 1.0
20638  9.0                 3.0  ...            0.0                 1.0
20639  9.0                 2.0  ...            1.0                 1.0

[20640 rows x 7 columns]